<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HUST TREE</title>
    <link href="/images/favicon.ico" rel="Shortcut Icon">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <!-- <link href="/css/dataTables.bootstrap.css" rel="stylesheet"> -->

    <!-- DataTables Responsive CSS -->
    <!-- <link href="/css/dataTables.responsive.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/morris.css" rel="stylesheet">

    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Calender Css -->
    <link href="/css/responsive-calendar.css" rel="stylesheet">

    <!-- Pages css -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000');
    </script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">HUST TREE
                    <span>
                        <img src="../images/favicon.ico" style="height:20px;">
                    </span>
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a  href="/notification">
                        <i class="fa fa-bell fa-fw"></i>
                        <span id="number-of-notification">0</span>
                    </a>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/home">
                                <i class="fa fa-dashboard fa-fw"></i> Bản đồ</a>
                        </li>
                        <li>
                            <a href="/staffs/1">
                                <i class="fa fa-user fa-fw"></i> Nhân viên</a>
                        </li>
                        <li>
                            <a href="/tree-type">
                                <i class="fa fa-certificate fa-fw"></i> Loại cây</a>
                        </li>
                        <li>
                            <a href="/sensors/1">
                                <i class="fa fa-tint fa-fw"></i> Cảm biến</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <script>
            load();
            function load(){
                $.ajax({
                url: '/get-size-notification',
                type: 'get',
                dataType: 'text',
                success: function (result) {
                    $("#number-of-notification").html(result);
                }
            });
            }
            
            socket.on("notification", function (data) {
                load();
            });
        </script>