
<html lang="en">
<head>
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <form action="/login" method="post">
        <div class="login-form">
            <div class="login-form__header">
                BK TREE
            </div>
            <div class="login-form__body">
                <div class="row">
                    <div class="col-md-3">
                        User Name:
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="username"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Password:
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="submit" value="Log In" class="btn btn-primary"/>
                    </div>
                    
                </div>
            </div>
            <div class="login-form__footer">
            </div>
        </div>

    </form>
</body>
</html>